/* GLOBAL */
body {
    background-color: #e0f7f4; /* very light teal green */
}

/* FEATURE ICON */
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
    background-color: teal;
    color: white;
}

/* HERO SECTION */
.hero {
    background-color: teal;
    color: white;
    padding: 80px 0;
    text-align: center;
}

/* SECTION TITLE */
.section-title {
    font-weight: 600;
    border-bottom: 2px solid teal;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

/* VALUES ICON */
.values-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d6f5f3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
}
#successMessage {
    display: none;
    background: #00c67a;
    color: white;
    padding: 12px;
    border-radius: 6px;
    text-align: center;
    margin-top: 10px;
    transition: all .5s ease;
    opacity: 0;
    transform: translateY(-20px);
}
